
/* HEADER / NAV */

/* ========= Header ========= */
  header {
    background: var(--color-header-bg);
    /* border-radius: var(--border-radius); */
    
    /* position: fixed; */

    padding-top: var(--edge-gap-mini);
    padding-left: var(--edge-gap-maxi);
    padding-right: var(--edge-gap-maxi);
    padding-bottom: 0.5rem;

    margin: 0rem;

    z-index: var(--z-index-header);
  }

/* ========= Navigation ========= */
  nav {
    display: flex;
    justify-content: space-between;
    align-items: center; }
    
  .nav-buttons { 
    color: var(--color-button-bg);
    display: flex; }
    
  .auth-buttons button { margin-left: 0.5rem; }
