
/* FOOTER */

footer {
    background: var(--color-footer-bg);
    
    /* position: absolute; */

    padding: var(--edge-gap-maxi);

    margin: 0rem;

    z-index: var(--z-index-footer); }



#footer-links, #other { 
    color: var(--color-normal-text-dark);
    display: flex;
    justify-content: space-between;
    padding-bottom: 2rem; }
  
  
#links-container, #logo-container {
    display: flex; 
    justify-content: space-between; }

#lang-copywrite { 
    align-items: center;
    gap: 1rem;
    display: flex; }

.link-list p { font-weight: bold; }
.link-list ul {
  font-size: var(--font-size-mcro);
  min-width: 15em; }
.link-list ul a { color: var(--color-links-grey); }
.link-list ul a:hover { color: var(--color-links); }


#socials { display: flex; }

#copywrite { color: var(--color-normal-text-dark); }
